<launch>

	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
	</include>

	<node pkg="gazebo_controller_sims" type="APF_controller.py" name="APF_controller" output="screen">
	</node>
	
	<node pkg="gazebo_controller_sims" type="plot_lidar.py" name="plot_lidar" output="screen">
	</node>
</launch>
